{% extends 'base.html.twig' %}

{% block title %}
	Index des personnages de Star Wars
{% endblock %}

{% block body %}
	<h1>Les Personnages de Star Wars</h1>

	{% for personnage in personnages %}
		<article>
			<a href="{{ path( 'app_personnage', {'id': personnage.url|replace({ 'https://swapi.py4e.com/api/people/': '' , '/': '' }) }) }}">{{ personnage.name }}</a>
		</article>
	{% endfor %}

	{# Affichage de la pagination #}
	<div class="page">
		<div class="pagination">
			{% for p in 1..(pagination.total / pagination.pageSize)|round %}
				<li>
					<a href="{{ path('app_home', {'page': p}) }}" {% if p == pagination.page %} class="current" {% endif %}>{{ p }}</a>
				</li>
			{% endfor %}
		</div>
	</div>
{% endblock %}
