<!DOCTYPE html>
<html data-theme="dark">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		 {% block stylesheets %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<main class="container">
			<h1>Star Wars API</h1>
			{% block body %}{% endblock %}

		</main>
	</body>
</html>
